<% layout("/layouts/boilerplate") -%>
<body>
    <h3>Create New Listing</h3>
    <form action="/listings" method="POST">
      <br />
      <input
        type="text"
        name="listing[title]"
        placeholder="Enter Title"
      /><br /><br />
      <textarea
        name="listing[description]"
        id=""
        cols="30"
        rows="5"
        placeholder="Enter Your Description"
      ></textarea
      ><br /><br />
      <input
        type="text"
        name="listing[image]"
        placeholder="Enter Image Link/URL"
      /><br /><br />
      <input
        type="text"
        name="listing[price]"
        placeholder="Enter Price"
      /><br /><br />
      <input
        type="text"
        name="listing[location]"
        placeholder="Enter Location"
      /><br /><br />
      <input
        type="text"
        name="listing[country]"
        placeholder="Enter Country Name"
      /><br /><br />
      <button>Submit</button>
    </form>
  </body>